<!-- Main -->
<!-- Mustache шаблон для реализации View -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
</head>
<body>
    <!-- Выводит строку с входным параметром name -->
    <div>
        Home page. Output: {{output}} <br/>
        <a href="/greeting?name=Daniel">Say hello</a>
    </div>
</body>
</html>