<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
        <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
    </head>
    <body>
    <div>
        <h2>Registration page</h2>
        <!-- Сообщения от Model -->
        {{#message}}
            {{message}}
        {{/message}}
        <form action="/registration" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="username" placeholder="Login">
            <input type="password" name="password" placeholder="Password"> <br/>
            <button type="submit">SignUp</button>
        </form>
    </div>
    </body>
</html>